export(AmpliconViews)
export(ampData)
export(designPrimers)
export(filterPrimers)
export(getAmplicon)
export(getAmpliconNames)
export(getAmpliconRanges)
export(getAvMeth)
export(getCoverage)
export(getExampleMethMat)
export(getMetaMethylation)
export(getMethMat)
export(getSampleNames)
export(getSimilarity)
export(methRatio)
export(plotAmpliconView)
export(primers2ranges)
export(spikeCheck)
exportClasses(AmpliconViews)
import(Gviz)
import(grid)
importClassesFrom(GenomicRanges,GRanges)
importClassesFrom(QuasR,qProject)
importFrom(GenomicRanges,GRanges)
importFrom(QuasR,qMeth)
importFrom(data.table,data.table)
importFrom(parallel,mcmapply)
importMethodsFrom(Rsamtools,scanBamHeader)
